@font-face {
	font-family: Figtree;
	src: url(../../styles/fonts/Figtree-VariableFont_wght.ttf);
}

.input__default{
  display: flex;
  width: 375px;
  height: var(--spacing-xxxlarge, 48px);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0 var(--spacing-small, 8px);
  border: 1px solid var(--color-dark-200);
  border-radius: var(--spacing-small, 8px);
  &:focus {
    outline: none;
    border: 1px solid var(--color-dark-base);
    box-shadow: 0 0 0 2px var(--color-dark-200);
  }
}

.inputs-container{
  margin-bottom: 14px;
}
 
.input__default[data-state="disabled"]{
  border-radius: var(--spacing-small, 8px);
  border: 1px solid var(--color-dark-200);
  background: var(--color-white-200);
}

.input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}


.input-wrapper .icon-left,
.input-wrapper .icon-right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.input-wrapper .icon-left {
  left: 8px;
}

.input-wrapper .icon-right {
  right: 8px;
}

.input__default {
  padding-left: 40px;
}

.input--with-icon-left {
  padding-left: 40px;
}

.input--with-icon-right {
  padding-right: 40px; 
}
.input-message {
  font-size: 12px;
  color: #6c757d; /* Gris neutre */
  margin-top: 4px;
  font-family: Figtree;
}

.input-message--error {
  color: #dc3545; /* Rouge pour les erreurs */
}
